<p>about-us works!</p>

<div class="row no-gutters">

    <div class="col-md-4 no-gutters">
        <div class="Leftside d-flex justify-content-center align-items-center "><img src="assets/img/bg-img/19.jpg"
                alt=""></div>
    </div>

    <div class="col-md-8 no-gutters">
        <div class="Rightside d-flex justify-content-center align-items-center">
            <h4>TESTIMONIALS</h4>
            <h2>20 Years Of Experience</h2> 
            <p>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum.
                 Sed ut perspiciatis unde omnis iste.<br>
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia dese mollit anim id est laborum.
                Sed ut perspiciatis unde omnis iste. Lorem Ipsum available.
            </p>
        </div>
    </div>

</div>