<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<div class="container">
    <div class="row">
      
        <div class="col-md-6">
          
            <img src="assets/img/home.jpg" alt="test" class="responsive" width="600" height="400">
          
            <div class="carousel-caption">
                <div><h1>Book Your Stay</h1></div>
            </div>

      
 </div>
  
  
</div>
    
<app-bookingform></app-bookingform>
