
<div class="row" id="box-search">
    <div class="thumbnail text-center">
        <img src="assets/img/home.jpg" alt="" class="img-fluid">
        <div class="caption">
            <h1 class="text">Book Your Stay</h1>
            <p class="text">Search over 1 million properties. Now free cancellation on most hotels. 
                Because flexibility matters.</p>
            <button routerLink="/rooms" type="button" class="btn btn-success">Discover Now</button>
        </div>
    </div>
</div>

    
<app-bookingform></app-bookingform>
