

<div class="row no-gutters">

    <div class="col-md-6 no-gutters">
        <div class="Leftside d-flex justify-content-center align-items-center "><img src="assets/img/bg-img/43.jpg"
                alt=""></div>
    </div>

    <div class="col-md-6 no-gutters">
        <div class="Rightside d-flex justify-content-center align-items-center">
            <h2>Room View Sea</h2>
            <h4 class="rateColor">400$ <span>/ Day</span></h4> 
            <h6>Size: <span>30 ft</span></h6>
            <h6>Capacity: <span>Max persion 5</span></h6>
            <h6>Bed: <span>King beds</span></h6>
            <h6>Services: <span>Wifi, television ...</span></h6>
            <button type="submit">Book Now</button>
        </div>
    </div>

</div>

<div class="row no-gutters">

    <div class="col-md-6 no-gutters">
        <div class="Leftside d-flex justify-content-center align-items-center "><img src="assets/img/bg-img/44.jpg"
                alt=""></div>
    </div>

    <div class="col-md-6 no-gutters">
        <div class="Rightside d-flex justify-content-center align-items-center">
            <h2>Small Room</h2>
            <h4 class="rateColor">400$ <span>/ Day</span></h4> 
            <h6>Size: <span>30 ft</span></h6>
            <h6>Capacity: <span>Max persion 5</span></h6>
            <h6>Bed: <span>King beds</span></h6>
            <h6>Services: <span>Wifi, television ...</span></h6>
            <button type="submit">Book Now</button>
        </div>
    </div>

</div>

<div class="row no-gutters">

    <div class="col-md-6 no-gutters">
        <div class="Leftside d-flex justify-content-center align-items-center "><img src="assets/img/bg-img/45.jpg"
                alt=""></div>
    </div>

    <div class="col-md-6 no-gutters">
        <div class="Rightside d-flex justify-content-center align-items-center">
            <h2>Premium King Room</h2>
            <h4 class="rateColor">400$ <span>/ Day</span></h4> 
            <h6>Size: <span>30 ft</span></h6>
            <h6>Capacity: <span>Max persion 5</span></h6>
            <h6>Bed: <span>King beds</span></h6>
            <h6>Services: <span>Wifi, television ...</span></h6>
            <button type="submit">Book Now</button>
        </div>
    </div>

</div>